<navbar></navbar>
<header></header>

<div layout-padding>
  <div layout="column" layout-align="center center">
    <h2>Seleccione un grupo de usuarios: </h2>
    <md-input-container>
      <md-select name="userGroups" ng-model="vm.userRoleSelected" placeholder="Seleccionar grupo" ng-change="vm.getUsersByRole()" aria-label="s">
        <md-option ng-value="role.role" ng-repeat="role in vm.userRoles" ng-selected="true">
          {{role.description}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>

  <md-content class="listContainer">
    <md-list>
      <md-subheader class="md-no-sticky">Usuarios:</md-subheader>
      <md-list-item class="md-3-line" ng-class="{'currentUser' : user._id === vm.currentUser._id }" ng-repeat="user in vm.usersByRole" layout-padding ng-click="vm.angular.noop()">
        <div class="md-list-item-text"  layout="column" ui-sref="userDetails({id: user._id })">
          <h3>{{ user.fullName }}</h3>
          <h4>{{ user.email }}</h4>
          <p><strong>Active:</strong> {{ user.isActive }}</p>
        </div>
        <div class="listActions md-secondary" layout="row" flex="20">
          <md-button class="md-icon-button " ui-sref="editUser({id: user._id})" aria-label="button-label">
            <md-icon>mode_edit</md-icon>
          </md-button>
          <md-button class="md-icon-button " ng-click="vm.removeUser($event, user._id)" aria-label="button-label">
            <md-icon>delete</md-icon>
          </md-button>
        </div>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-content>
</div>