.dashboardContainer
    .tasks
        a.dashboardCardContainer
            &:hover
                cursor pointer
        .dashboardCardContainer
            background-color: rgb(255,255,255);
            border-radius: 2px;
            min-height 170px
            margin 8px
            
            .card
                height 100%
                .textsContainer
                    padding 0 1em
                    h2
                        margin 0
                    
                    .dataText
                        margin 1em 0
                        
                        span
                            font-weight bold
                                
