<md-dialog class="createTaskFormContainer" flex="60">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex>Crear nueva tarea</h2>
            <md-button ng-click="vm.closeDialog()" class="md-icon-button">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <form class="createTaskForm" name="createTaskForm" novalidate layout="column" layout-align="center center" layout-align-gt-sm="start">
            <div layout="row" layout-align="center center">
                <h2 class="color-indigo">Llene los siguientes campos:</h2>
            </div>
            <div layout="column" layout-gt-sm="row" layout-align="space-around start" layout-wrap>
                <div flex="40" layout="column" layout-padding>
                    <md-input-container>
                        <label>Título de la tarea</label>
                        <input name="taskTitle" type="text" ng-model="vm.newTask.Title" required>
                        <div ng-messages="createTaskForm.taskTitle.$error" ng-show="createTaskForm.taskTitle.$invalid && vm.submitted">
                            <div ng-message="required">El título de la tarea es requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="textareaCustom">
                        <label>Descripción de la tarea</label>
                        <textarea name="taskDescription" ng-model="vm.newTask.Description" required></textarea>
                        <div ng-messages="createTaskForm.taskDescription.$error" ng-show="createTaskForm.taskDescription.$invalid && vm.submitted">
                            <div ng-message="required">La descripción de la tarea es requerida</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Prioridad de la tarea</label>
                        <md-select name="taskPriority" ng-model="vm.newTask.Priority" required>
                            <md-option ng-value="priority" ng-repeat="priority in vm.priorities" ng-selected="true">
                                <span class="{{priority.priorityIcon.iconClass}}">
                                    <md-icon>{{priority.priorityIcon.iconName}}</md-icon>
                                </span>
                                {{priority.priorityName}}                                
                            </md-option>
                        </md-select>
                        <div ng-messages="createTaskForm.taskPriority.$error" ng-show="createTaskForm.taskPriority.$invalid && vm.submitted">
                            <div ng-message="required">La prioridad de la tarea es requerida</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Asignado por</label>
                        <md-select name="taskAssignBy" ng-model="vm.newTask.AssignBy" required disabled>
                            <md-option ng-value="vm.newTask.AssignBy" ng-selected="true">{{vm.currentUser.firstName + ' ' + vm.currentUser.lastName}}</md-option>
                        </md-select>
                        <div ng-messages="createTaskForm.taskAssignBy.$error">
                            <div ng-message="required">La persona que asigna es requerida</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Asignar a</label>
                        <md-select name="taskAssignTo" ng-model="vm.newTask.AssignTo" required ng-disabled="vm.isEmployee" multiple="!vm.isEmployee">
                            <md-option ng-value="vm.currentUser" ng-selected="true" ng-show="vm.isEmployee"> {{ vm.newTask.AssignTo.fullName }}</md-option>
                            <md-optgroup label="Administradores" ng-if="vm.isAdministrator">
                                <md-option ng-value="administrator" ng-repeat="administrator in vm.users.Administrators">{{administrator.fullName}}</md-option>
                            </md-optgroup>
                            <md-optgroup label="Supervisores">
                                <md-option ng-value="supervisor" ng-repeat="supervisor in vm.users.Supervisors">{{supervisor.fullName}}</md-option>
                            </md-optgroup>
                            <md-optgroup label="Empleados">
                                <md-option ng-value="employee" ng-repeat="employee in vm.users.Employees" >{{employee.fullName}}</md-option>
                            </md-optgroup>
                        </md-select>
                        <div ng-messages="createTaskForm.taskAssignTo.$error" ng-show="createTaskForm.taskAssignTo.$invalid && vm.submitted">
                            <div ng-message="required">La persona a la que se asigna la tarea es requerida</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="40" layout="column" layout-padding>
                    <md-input-container>
                        <label>Estatus de la tarea</label>
                        <md-select name="taskStatus" ng-model="vm.newTask.Status" required>
                            <md-option ng-value="status" ng-repeat="status in vm.taskStatus" ng-selected="true" flex>
                                <span class="{{status.statusIcon.iconClass}}">
                                    <md-icon>{{status.statusIcon.iconName}}</md-icon>
                                </span>
                                {{status.statusDescription}}
                            </md-option>
                        </md-select>
                        <div ng-messages="createTaskForm.taskStatus.$error">
                            <div ng-message="required">El estatus es requerido</div>
                        </div>
                    </md-input-container>
                    <div layout="column">
                        <label>Realizar antes de:</label>
                        <md-datepicker ng-model="vm.newTask.DoBeforeDate" md-placeholder="Enter date"></md-datepicker>
                    </div>
                    <md-input-container>
                        <label>Horas estimadas</label>
                        <input name="taskEstimatedHours" type="number" ng-model="vm.newTask.EstimatedHours" required>
                        <div ng-messages="createTaskForm.taskEstimatedHours.$error" ng-show="createTaskForm.taskEstimatedHours.$invalid && vm.submitted">
                            <div ng-message="required">Este campo es requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Horas invertidas</label>
                        <input name="taskTimeSpent" type="number" ng-model="vm.newTask.TimeSpent" required>
                        <div ng-messages="createTaskForm.taskTimeSpent.$error" ng-show="createTaskForm.taskTimeSpent.$invalid && vm.submitted">
                            <div ng-message="required">Este campo es requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="textareaCustom">
                        <label>Comentarios</label>
                        <textarea name="taskComments" type="text" ng-model="vm.newTask.Comments" required></textarea>
                        <div ng-messages="createTaskForm.taskComments.$error" ng-show="createTaskForm.taskComments.$invalid && vm.submitted">
                            <div ng-message="required">Este campo es requerido</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </form>
        <code> {{vm.newTask | json}}  </code>
        <md-dialog-actions>
            <md-button type="submit" class="md-raised md-primary" ng-click="vm.saveTask(createTaskForm.$valid)">Guardar tarea</md-button>
            <md-button ng-click="vm.closeDialog()">Cerrar</md-button>
        </md-dialog-actions>
    </md-dialog-content>
</md-dialog>