@import "../bower_components/font-awesome/css/font-awesome.css"

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px)
  .container
    max-width 730px

//
// var Colors 
//
$bg-indigo = #3F51B5;
$bg-white = rgb(255, 255, 255);

$color-indigo = rgb(63,81,181);
$color-white = rgb(255, 255, 255);

$color-inProgress = #64B5F6;
$color-toDoToday = #0D47A1;
$color-toDo = #009688;
$color-delayed = #B71C1C;
$color-done = #4CAF50;

$color-edit = #FB8C00;
$color-delete = #D50000;

//general classes
md-toast
  position fixed
  bottom 50px

//tasks colors classes

.tasksInProgress, .tasksInProgress > md-icon
  color $color-inProgress
  line-height 20px

.tasksToDoToday, .tasksToDoToday > md-icon
  color $color-toDoToday
  line-height 20px

.tasksToDo, .tasksToDo > md-icon   
  color $color-toDo
  line-height 20px

.tasksDelayed, .tasksDelayed > md-icon
  color $color-delayed
  line-height 20px
 
.tasksDone, .tasksDone > md-icon
  color $color-done
  line-height 20px
   
//
// Helper classes
//

.bg-indigo {
  background-color $bg-indigo
}
 
.bg-white {
  background-color $bg-white
}

.color-indigo {
  color $bg-indigo
}

.color-white {
  color $bg-white
}

.text-uppercase {
  text-transform uppercase
}

.text-lowercase {
  text-transform lowercase
}

.no-style {
  color inherit
  text-decoration none
}

//icons sizes

.icon-24 {
  font-size 24px
  height 24px
  width 24px
}

.icon-48 {
  font-size 48px
  height 48px
  width 48px
}

.icon-60 {
  font-size 60px
  height 60px
  width 60px
}

.icon-96 {
  font-size 96px
  height 96px
  width 96px
}



// Component styles are injected through grunt
/* inject:styl */
@import 'account/signup/signup';
@import 'admin/admin';
@import 'factories/toast/partials/error/toast.error';
@import 'factories/toast/partials/success/toast.sucess';
@import 'partials/createTask/createTasks';
@import 'partials/editUser/editUser';
@import 'partials/userDetails/userDetails';
@import 'tasksByStatus/tasksByStatus';
@import 'tasksDashboard/tasksDashboard';
@import 'users/users';
@import '../components/footer/footer';
@import '../components/header/header';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
@import '../components/sidenav/sidenav';
/* endinject */
