<md-sidenav class="md-sidenav-left sidenavLeft" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4"
    flex ng-show="vm.isLoggedIn()">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Administrador de tareas</h1>
    </md-toolbar>
    <md-content layout-padding layout="column">
        <md-button ui-sref="tasksDashboard({id: ''})" layout="row" layout-align="space-between center">
            <span flex>Dashboard</span>
            <md-icon class="tasksInProgress" flex="10">dashboard</md-icon>
        </md-button>
        <md-button ui-sref="users" layout="row" layout-align="space-between center" ng-hide="vm.currentUser === 'Employee'">
            <span flex>Usuarios que superviso</span>
            <md-icon class="tasksInProgress" flex="10">supervisor_account</md-icon>
        </md-button>
        <md-button ui-sref="admin" layout="row" layout-align="space-between center" ng-show="vm.isAdmin()">
            <span flex>Administrar usuarios</span>
            <md-icon class="tasksInProgress" flex="10">verified_user</md-icon>
        </md-button>
        <div class="temporalFix"></div>
    </md-content>
</md-sidenav>

<md-button class="sidenavLeftButton md-fab md-accent" ng-click="vm.toggleLeftSidenav()" hide-gt-md ng-show="vm.isLoggedIn()">
    <md-icon>navigate_next</md-icon>
</md-button>



<div class="addNewButton" layout="row" layout-align="center center" ng-show="vm.isLoggedIn()">
    <md-fab-speed-dial class="md-scale" md-direction="up">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <md-icon>add</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button id="newTask" class="md-fab md-mini md-raised md-primary" ng-click="vm.createTask($event)">
                <md-tooltip md-direction="top">
                    Agregar Tarea
                </md-tooltip>
                <md-icon>note_add</md-icon>
            </md-button>

            <md-button id="newUser" class="md-fab md-mini md-raised md-warn" ng-click="vm.createUser($event)">
                <md-tooltip md-direction="top">
                    Crear usuario
                </md-tooltip>
                <md-icon>person</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>