<div class="navbar bg-indigo" flex>
  <div layout="row" layout-align="space-between center">
    <div layout="row">
      <md-button class="color-white" href="/" class="md-raised">Tareas</md-button>
    </div>
    <div>
      <md-menu>
        <md-button class="md-icon-button" ng-click="nav.openMenu($mdOpenMenu, $event)">
          <md-icon class="color-white" md-menu-origin>menu</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-hide="nav.isLoggedIn()" ui-sref-active="active">
            <md-button ui-sref="signup">
              <md-icon flex="10">assignment</md-icon>
              Sign up
            </md-button>
          </md-menu-item>
          <md-menu-item ng-hide="nav.isLoggedIn()" ui-sref-active="active">
            <md-button ui-sref="login">
              <md-icon flex="10">person_pin</md-icon>
              Login
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="nav.isLoggedIn()">
            <p>Hola {{ nav.currentUser.fullName }}</p>
          </md-menu-item>
          <md-divider ng-show="nav.isLoggedIn()"></md-divider>
          <md-menu-item ng-show="nav.isLoggedIn()" ui-sref-active="active">
            <md-button ui-sref="settings">
              <md-icon flex="10">settings</md-icon>
              <span>Opciones</span>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="nav.isLoggedIn()">
            <md-button ui-sref="logout">
              <md-icon flex="10">hotel</md-icon>
              <span>Cerrar sesión</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
</div>