<div class="navbar bg-indigo">
  <div layout="row" layout-align="space-between center">
    <div layout="row">
      <md-button class="color-white" href="/" class="md-raised">tasks-admin</md-button>
      <div ng-repeat="item in nav.menu" ui-sref-active="active">
          <md-button class="color-white" ui-sref="{{item.state}}">{{item.title}}</md-button>
      </div>        
    </div>
    <div>
      <md-button class="md-accent" ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></md-button>
      <md-menu>
        <md-button class="md-icon-button" ng-click="nav.openMenu($mdOpenMenu, $event)">
          <md-icon class="color-white" md-menu-origin>menu</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-hide="nav.isLoggedIn()" ui-sref-active="active">
            <md-button ui-sref="signup">
              <md-icon md-menu-align-target>face</md-icon>
              Sign up
            </md-button>
          </md-menu-item>
          <md-menu-item ng-hide="nav.isLoggedIn()" ui-sref-active="active">
            <md-button ui-sref="login">
              <md-icon md-menu-align-target>face</md-icon>
              Login
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="nav.isLoggedIn()">
            <p>Hello {{ nav.getCurrentUser().name }}</p>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item ng-show="nav.isLoggedIn()" ui-sref-active="active">
            <md-button ui-sref="settings">Settings</md-button>
          </md-menu-item>
          <md-menu-item ng-show="nav.isLoggedIn()">
            <md-button ui-sref="logout">Logout</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
</div>