span.priorityLow > md-icon
    color $color-indigo
    line-height 20px

span.priorityMedium > md-icon
    color #FF3D00
    line-height 20px
    
span.priorityHigh > md-icon
    color #D50000
    line-height 20px
    
md-input-container.textareaCustom > textarea
    min-height 100px