<div class="signUpContainer">
  <div class="signUpContent" layout="column" layout_align="center center">
    <div>
      <h1>Sign up</h1>
    </div>
    <div class="formContainer">
      <form class="signUpForm" name="signUpForm" ng-submit="vm.register(signUpForm)" layout="column" layout-align="center center"
        novalidate flex>

        <md-input-container>
          <label>Nombres</label>
          <input type="text" name="firstName" ng-model="vm.user.firstName" required/>
          <div ng-messages="signUpForm.firstName.$error">
            <div ng-message="required">
              Escribe tus nombres
            </div>
          </div>
        </md-input-container>
        
        <md-input-container>
          <label>Apellidos</label>
          <input type="text" name="lastName" ng-model="vm.user.lastName" required/>
          <div ng-messages="signUpForm.lastName.$error">
            <div ng-message="required">
              Escribe tus nombres
            </div>
          </div>
        </md-input-container>
        
        <md-input-container>
          <label>Role:</label>
          <md-select name="role" ng-model="vm.user.role" required>
              <md-option ng-value="role" ng-repeat="role in vm.roles" ng-selected="true" flex>
                  {{role}}
              </md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <label>Correo electrónico</label>
          <input type="email" name="email" ng-model="vm.user.email" required mongoose-error/>
          <div ng-messages="signUpForm.email.$error">
            <div ng-message="required">
              Escribe tu correo electrónico
            </div>
            <div ng-message="mongooseError">
              {{vm.errors.email}}
            </div>
            <!--<p ng-show="signUpForm.email.$error.mongoose">
                {{ vm.errors.email }}
              </p>-->
          </div>
        </md-input-container>

        <md-input-container>
          <label>Contraseña</label>
          <input type="password" name="password" ng-model="vm.user.password" ng-minlength="3" required mongoose-error/>
          <div ng-messages="signUpForm.password.$error">
            <div ng-message="required">
              Escribe tu contraseña
            </div>
            <div ng-message="mongoose-error">
              {{vm.errors.password}}
            </div>
            <!--<p ng-show="signUpForm.email.$error.mongoose">
                {{ vm.errors.email }}
              </p>-->
          </div>
        </md-input-container>

        <md-input-container>
          <label>Confirmar contraseña</label>
          <input type="password" name="confirmPassword" ng-model="vm.user.confirmPassword" match="vm.user.password" ng-minlength="3"
            required/>
          <div ng-messages="signUpForm.password.$error">
            <div ng-message="required">
              Confirma tu contraseña
            </div>
            <div ng-message="match">
              Las contraseñas deben coincidir
            </div>
          </div>
        </md-input-container>

        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary" type="submit">
            Registrarse
          </md-button>
          <a class="md-button" ui-sref="login">
            Iniciar sesión
          </a>
        </div>
      </form>
    </div>
  </div>
</div>