.signUpContainer
    background-color white
    
    .signUpContent
        .formContainer
            padding 1em
            
            .signUpForm
                md-input-container
                    width 100%
                