.dashboardContainer
    .filterContiner
        margin 1em 0
    .tasks
        .card
            position relative
            .content
                .actions
                    position absolute
                    right 0
                    top 0
                    .edit
                        md-icon
                            color $color-edit
                    .delete
                        md-icon
                            color $color-delete
                    .toInProgress
                        md-icon
                            color $color-inProgress
                    .toDone
                        md-icon
                            color $color-done

.priorityStatus
    position absolute