.dashboardContainer
    .tasks
        .card
            position relative
            .content
                .iconContainer.byStatus
                    position absolute
                    left 0
                    bottom 0
                 
                .actions
                    position absolute
                    right 0
                    top 0
                    .edit
                        md-icon
                            color $color-edit
                    .delete
                        md-icon
                            color $color-delete

.priorityStatus
    position absolute